<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head th:replace="~{layout/layout :: head}"></head>
<body>
<h1 th:text="${titulo}" class="page-content"></h1>
<br/>
<div class="container">
    <form th:object="${pelicula}" th:action="@{crearpelicula}" method="post"  enctype="multipart/form-data">
        <div class="form-group">
            <label for="titulo" class="control-label">titulo</label>
            <input id="titulo" type="text" class="form-control" th:field="*{titulo}" placeholder="Pantera negra" required="required"/>
            <small>Escribir el nit</small>
        </div>

        <div class="form-group">
            <label for="sinopsis" class="control-label">sinopsis</label>
            <input id="sinopsis" type="text" class="form-control" th:field="*{sinopsis}" placeholder="Descripcion" required="required"/>
            <small>Escribir nombre de universidad</small>
        </div>

        <div class="form-group">
            <label for="fecha_estreno" class="control-label">Fecha de Estreno</label>
            <input id="fecha_estreno" type="date" class="form-control" th:field="*{fecha_estreno}" required="required"/>
            <small>Seleccionar fecha</small>
        </div>

        <div class="mb-3">
            <label for="youtube_trailer_id" class="form-label">Youtube Trailer ID</label>
            <input id="youtube_trailer_id" type="text" placeholder="Youtube Trailer ID" class="form-control"
                   th:field="*{youtube_trailer_id}">
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('youtube_trailer_id')}"
                 th:errors="*{youtube_trailer_id}"></div>
        </div>

        <div class="mb-3">
            <label for="imagen" class="form-label">imagen</label>
            <input class="form-control"  type="file" name="file" id="imagen" accept="image/png , image/jpg">
        </div>

        <div class="form-group">
            <div class="form-group">
                <input type="submit" value="Guardar Pelicula" class="btn btn-success" >
            </div>
        </div>

    </form>
</div>

</body>
</html>