<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head th:replace="~{layout/layout :: head}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <title>Netflix</title>
</head>
<body>
<nav th:replace="~{layout/layout :: navbar}"></nav>

  <header>
    <div class="contenedor">
      <h2 class="logotipo">MOVIE TIME</h2>
<nav>
  <a href="#" class="activo">Movie time</a>
  <a href="#">Home</a>
  <a href="#">Películas
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" th:href="@{/listarpeliculas}">Accion</a>
      <a class="dropdown-item" th:href="@{/peliculas}">Peliculas</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"  th:href="@{/listarpeliculas}">infantil</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"  th:href="@{/ListarRoles}">Roles</a>
    </div>
  </a>

  <a th:href="@{/listarpeliculas}">administracion</a>

</nav>
    </div>
  </header>

<main>
  <div class="pelicula-principal">
    <div class="contenedor">
      <h3 class="titulo">Interestellar</h3>
      <p class="descripcion">
        Narra las aventuras de un grupo de exploradores que hacen uso de un agujero de gusano recientemente descubierto para superar las limitaciones de los viajes espaciales tripulados y vencer las inmensas distancias que tiene un viaje interestelar.
      </p>
      <button role="button" class="boton"><i class="fas fa-play"></i>Reproducir</button>
      <button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
    </div>
  </div>

  <div class="peliculas-recomendadas contenedor">
    <div class="contenedor-titulo-controles">
      <h3>Películas Recomendadas</h3>
      <div class="indicadores"></div>
    </div>

    <div class="contenedor-principal">
      <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

      <div class="contenedor-carousel">
        <div class="carousel">
          <div class="pelicula">
            <a href="#"><img src="images/1.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/2.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/3.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/4.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/5.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/6.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/7.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/1.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/2.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/3.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/1.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/2.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/3.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/4.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/5.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/6.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/7.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/1.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/2.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/3.png" alt=""></a>
          </div>
          <div class="pelicula">
            <a href="#"><img src="images/4.png" alt=""></a>
          </div>
        </div>
      </div>

      <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
    </div>
  </div>
</main>




</main>

<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="js/main.js"></script>


</body>

</html>