<!DOCTYPE html>
<html  lang="en">
<head>
  <meta charset="UTF-8">
  <title>Efecto Hover Parallax - MagtimusPro</title>
  <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
<nav th:replace="~{layout/layout :: navbar}"></nav>
<div class="wrapper">
  <h2>animated background</h2>
  <div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
</body>
</html>
